// @use "@/styles/variables" as *;
@use "../../styles/variables" as *;


.form {
    display: flex;
    gap: 12px;
}

.input {
    flex: 1;
    padding: 8px;
    border: 1px solid $border;
    border-radius: 4px;
}

.button {
    background: $primary;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}