.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: #111;
    color: white;
}

.left a {
    font-weight: bold;
    font-size: 18px;
}

.right a {
    margin-left: 20px;
}